.testimonial__group {
  margin: 4rem 0 4rem 0;
}

.testimonial {
  background: var(--color-primary);
  font-size: 1.3rem;
  border-radius: 0.8rem;
  padding: 3rem 2.8rem 3rem 2.8rem;
  margin-bottom: 1.6rem;
  max-width: 50rem;
  width: 100%;
}

.testimonial p {
  color: var(--color-neutral-2);
  padding-top: 3.4rem;
  line-height: 2.2rem;
}

.testimonial p::before {
  content: open-quote;
}

.testimonial p::after {
  content: close-quote;
}

.testimonial__name {
  padding-bottom: 0.8rem;
}

.testimonial__verified {
  color: var(--color-secondary);
  font-weight: 400;
  opacity: 0.9;
}

.testimonial__image {
  float: left;
  width: 4rem;
  margin-right: 2.2rem;
  border-radius: 100%;
}

@media screen and (min-width: 1024px) {
  .testimonial {
    max-width: 35rem;
    margin: 0 1.5rem;
  }

  .testimonial-2 {
    transform: translateY(1.6rem);
  }

  .testimonial-3 {
    transform: translateY(3.2rem);
  }
}
